<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">

          <!-- Profile Picture -->
          <a routerLink="/profile/user">
            <img class="avatar border-gray" src="assets/img/zodiac/libra.webp" alt="...">
            <h5 class="title">{{ user.firstname }}</h5>
          </a>

          <p class="description">{{ user.phone_number }}</p>
        </div>

        <!-- Daily horoscope -->
        <p class="description text-center">
          Daily Mindfulness: "Remember your sensitivity to certain videos and content. 
          Try limiting your time on social media today."
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>250
                <br>
                <small>Messages</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>16
                <br>
                <small>Reports</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>$14.97
                <br>
                <small>Plan</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">My Quick Links</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div>
                  💊
                </div>
              </div>
              <div class="col-md-7 col-7">
                Medications
                <br />
                <span class="text-success">
                  <small>Up To Date</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                  class="fa fa-heartbeat"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div>
                  📅
                </div>
              </div>
              <div class="col-md-7 col-7">
                 Upcoming Appointments
                <br />
                <span class="text-success">
                  <small><a href="#">Thur, 4pm - Jane Doe MD.</a></small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div>
                  💬
                </div>
              </div>
              <div class="col-ms-7 col-7">
                My Therapist
                <br />
                <span class="text-danger">
                  <small><a href="#">Online</a></small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">

        <div *ngIf="errorMessage !== ''">
          <div class="alert alert-warning">
            <button type="button" aria-hidden="true" class="close" (click)="closeWarning()">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span><b> Warning - </b> {{ errorMessage }}</span>
          </div>

          <div *ngIf="updateMessage !== ''">
            <div class="alert alert-info">
              <button type="button" aria-hidden="true" class="close" (click)="closeWarning()">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
              <span><b> Warning - </b> {{ updateMessage }}</span>
            </div>
          </div>


        </div>
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName" placeholder="First Name"
                  [(ngModel)]="user.firstname">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                  [(ngModel)]="user.lastname">
              </div>
            </div>

            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="updateProfile()" [disabled]="updatingUserInfo">Update Profile</button>
              <!-- Sign Out -->
              <button (click)="signOut()" class="btn btn-outline-primary btn-round">
                <i class="nc-icon nc-user-run"></i> Sign Out
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
  <div class="row">

  <div class="card-body">

    <div *ngIf="errorMessage !== ''">
      <div class="alert alert-warning">
        <button type="button" aria-hidden="true" class="close" (click)="closeWarning()">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <span><b> Warning - </b> {{ errorMessage }}</span>
      </div>

      <div *ngIf="updateMessage !== ''">
        <div class="alert alert-info">
          <button type="button" aria-hidden="true" class="close" (click)="closeWarning()">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <span><b> Warning - </b> {{ updateMessage }}</span>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" class="form-control" name="date_of_birth">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Medication</label>
        <textarea class="form-control" name="fact_1" placeholder="Enter a fact"></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Medication</label>
        <input class="form-control" type="text" name="dosage" placeholder="Dosage">
      </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <button ton tton type="submit" class="btn btn-primary btn-round">Update</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round" (click)="updateProfile()" [disabled]="updatingUserInfo">Update Profile</button>
        <!-- Sign Out -->
        <button (click)="signOut()" class="btn btn-outline-primary btn-round">
          <i class="nc-icon nc-user-run"></i> Sign Out
        </button>
      </div>
    </div>
</div>