<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Purchase More Credits</h4>
          <p class="card-category">
            Get spiritual and get 20% more credits
          </p>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <th></th>
              <th class="text-center">Curious</th>
              <th class="text-center">Spiritual</th>
            </thead>
            <tbody>
              <tr>
                <td>Credits</td>
                <td class="text-center">100</td>
                <td class="text-center">500</td>
              </tr>
              <tr>
                <td>Daily Reports</td>
                <td class="text-center">25</td>
                <td class="text-center">100</td>
              </tr>
              <tr>
                <td>Premium Support</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-center">$3.97</td>
                <td class="text-center"><span class="text-success">$9.97</span></td>
              </tr>
              <tr>
                <td class="text-center"></td>
                <td class="text-center">
                  <a href="#" class="btn btn-round btn-default disabled">PRO</a>
                </td>
                <td class="text-center">
                  <a target="_blank" href="https://www.creative-tim.com/product/paper-dashboard-pro-angular?ref=pd-free-angular-upgrade-live" class="btn btn-round btn-primary">Upgrade to PRO</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
