<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="contact.html">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="privacy.html">
                       Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="toc.html">
                        Terms of Service
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
